html { 
    font-family: georgia; 
    font-size: 14px;
} 

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.header-section {
    background-color: #FDB515;
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0;
    Top: 0;
    right:0;
    position: fixed;
}

.header-brand {
    object-fit: cover;
    height: 24px;
    width: auto;
    top: 0px;
}

.sidebar-image{ 
    width: 36px;
    position:fixed;
    top: 6px;
}

.sidebar {
    background-color: #ffffff;
    margin-top: 19px;
    padding-top: 0px;
    position: fixed;
    width: 300px;
    height: 100%;
    transition: all .5s ease;
    border-radius: 5px;
}

.sidebar ul a{
    display: block;
    background-color: #ffffff;
    line-height: 60px;
    font-size: 14px;
    color: #003262;
    left: 0;
    box-sizing: border-box;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: .4s;
}

.sidebar ul a:hover{ 
    padding-left: 6px;
}

label .sidebar-image{
    z-index: 1; 
    color: #ffffff;
    cursor: pointer;
    right:15px;
    font-size: 14px;
    margin: 5px 0; 
    transition-property: color;
}

#check ~.sidebar{
    right: -300px;
    transition: 0.5s;
}

#check:checked ~ .sidebar { 
    right: 0px;
    transition: 0.5s;
}

.hero-2021 {
    background: url(../images/2021/Hero\ 2021\ Top\ Screen\ Shot\ 2564-07-09\ at\ 9.18.49\ PM.png) no-repeat;
    background-size:cover;
    width:auto;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    height: 200px;
    transition: 0.5s;
}

.decades-sidebar {
    display: block;
    line-height: 60px;
    font-size: 14px;
    color: #003262;
    padding-right: 300px;
    box-sizing: border-box;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: .4s;
}

.sub-decades {
    display: block;
    line-height: 60px;
    font-size: 10px;
    color: #003262;
    box-sizing: border-box;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: .4s;
}

p {
    width: 500px;
    margin: auto;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    line-height: 20px;
    text-align: justify;
}

h1 {
    width: 600px;
    margin: auto;
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}

.image {
    max-height: 140px;
    padding: 10px;
}

.image-homepage-1 {
    text-align: center;
}

.hero-2021-middle{ 
    background: url(../images/2021/Hero\ 2021\ middle\ Screen\ Shot\ 2564-07-09\ at\ 9.22.46\ PM.png) no-repeat;
    background-size: cover;
    height: 200px;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    transition: 0.5s;
}

.image-2021 {
    text-align: center;
}

.spacing-line {
    border: 1px ;
    height: 2em;
    line-height: 1;
  }

  .footer-section {
    background-color: #003262;
    height: 60px;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.footer-brand {
    object-fit: cover;
    max-height: 40px;
    height: 30px;
    width: auto;
    margin-top: 3px;
    display: inline-block;
}

.footer-socialmedia {
    height: 10px;
    padding-right: 6px;
    top: 0;
    border-radius: 4px;
}

.copyright {
    right: 0px;
    bottom: 6px;
    text-align: right;
    font-size: 6px; 
    color: #ffffff;
    display: inline;
    float: right;   
}

.spacing-line2 {
    border: 1px ;
    height: 0em;
    line-height: 0;
}

.image-years-icon {
    display: inline;
    max-height: 80px;
    height: 80px;
}

.year-icon {
    text-align: center;
    padding: 10px;
}